# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when run with the
# -o option
*.out

# Dependency directories
vendor/
node_modules/

# Go workspace file
go.work

# Env file
.env*
*.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-wheel-metadata/
.installed.cfg
*.egg-info

# VSCode
.vscode/

# Build output
/build
/dist